/* Body CSS styles*/

body {
  margin:0;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.container {
  padding-top: 44px;
  padding-bottom: 44px;
  width: 550px;
  height: 868px;
  background: #23252C;
}

section.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 317px;
  height: 868px;
 
}

/*Header styles*/

img {
  width: 317px;
  height: 317px;
  border-radius: 6px 6px 0px 0px;
}

nav {
  width: 317px;
  background: #1A1B21;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.6;
}

nav h3 {
  padding-top: 21px;
}



a {
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 1.7px;
}

nav small a:hover {
  color: #5093E2;
}

a:hover {
  color:#101326;
}

.buttons {
  padding-top: 20px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}

h3, h4, p {
  margin: 0;
  letter-spacing: 1.8px;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-left: 8px;
  margin-right: 8px;
  width: 115px;
  border-radius: 6px;
  border: none;
  align-items: center;
  letter-spacing: 1.7px;
}

.linkedin {
  background: #5093E2;
  color: #FFFFFF;

}

.mail, .link-logo {
  width: 16px;
  height: 16px;
  padding-right: 8px;
}

/*Main content*/

article {
  background:#1A1B21;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0 21px;
}
article {
  padding-left: 21px;
  justify-content:left;
}

article p {
  font-size: 10px;
  line-height: 1.7em;
  letter-spacing: 1.9px;
  padding: 6px 0px 26px 0px;
}

/*Footer content*/

footer {
  padding: 19px;
  background: #161619;
  display: flex;
  justify-content: space-around;
  border-radius: 0px 0px 6px 6px;
}

footer img {
  width: 25px;
  height: 25px;
}

